iframe{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top:0;
  left: 0;
  border: none;
  z-index: -100;
}

.menu{
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1em;
  bottom: 2em;
  z-index: 1;
  font-size: 2em;
}

.menu-item{
  text-align: right;
  text-shadow: 0 0 10px #fff;
}

.menu-item:hover{
  font-family: cursive;
  color: blue;
  cursor: pointer;
}

.about{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  border: 2px solid blue;
  padding: 1em 2em 1em 2em;
  background-color: #ffffffee;
  border-radius: 2em;
  display: none;
  z-index: 100;
}

#clicklayer{
  width: 100vw;
  height: 100vh;
  position: fixed;
  left:0;
  top: 0;
  z-index: 0;
  background-color: #ffffff05;
  backdrop-filter: blur(5px);
  display: none;
}
